<h3>Property List</h3>
<hr>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th><th>E9 Number</th><th>Property Owner</th><th>Property Type</th><th>Address</th><th>Year Of Construction</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let property of properties">
      <td>{{property.id}}</td>
      <td>{{property.numberE9}}</td>
      <td>{{property.propertyOwner.name}} {{property.propertyOwner.surname}}</td>
      <td>{{property.propertyType}}</td>
      <td>{{property.address}}</td>
      <td>{{property.yearOfConstruction}}</td>
    </tr>
  </tbody>
</table>
