/* src/app/pages/homepage/components/property/create-property/create-property.component.scss */

/* Card Styling */
.card {
    border-radius: 0.75rem;
  }
  
  .card-header {
    border-bottom: none;
  }
  
  /* Form Labels */
  .form-label {
    font-weight: 600;
  }
  
  /* Input Focus State */
  .form-control:focus {
    box-shadow: 0 0 0 0.2rem var(--property-color-secondary); /* Green focus shadow */
    border-color: var(--property-color); /* Bootstrap success border color */
  }
  
  /* Validation Messages */
  .text-danger {
    font-size: 0.875em;
  }
  
  /* Button Hover Effects */
  // .btn-primary:hover {
  //   background-color: #218838; /* Darker shade of green */
  //   border-color: #1e7e34;
  // }
  
  .btn-secondary:hover {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .container {
      padding: 0 1rem;
    }
  
    .form-label {
      font-size: 1em;
    }
  }

  .form-select:focus{
    box-shadow: 0 0 0 0.2rem var(--property-color-secondary);
    border-color: var(--property-color);
  }
  